/* start font import */

@font-face {
    font-family: 'krijt1';
    src: url('/attributes/fonts/rudiment-webfont.woff2') format('woff2'),
         url('/attributes/fonts/rudiment-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krijt2';
    src: url('/attributes/fonts/robgraves-webfont.woff2') format('woff2'),
         url('/attributes/fonts/robgraves-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* end font import */
/* start header layout */
header{
    height: 300px;
    width: 100%;
    background-color: #998675;
    background-image: url(/attributes/img/header/header-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    padding-top: 100px;
    border-bottom: 10px solid #736357;
}
.small{
    height: 150px;
    padding-top: 10px;
}

@media screen and (max-width: 510px) {
    header{
        height: 250px;
    }
}

.header-text-placeholder{
    height: 100px;
    width: 100%;
    background-color: rgba(127, 127, 127, 0.5);
    color: #fff;
    padding: 20px 0px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    text-align: center;
}

@media screen and (max-width: 510px) {
    .header-text-placeholder{
        height: 50px;
    }
}

.l2{
    font-size: 72px;
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
}

.l1{
    font-size: 48px;
    padding-top: 20px;
    padding-right: 10px;
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
}

@media screen and (max-width: 750px) {
    .l2{
        font-size: 52px;
    }
    
    .l1{
        font-size: 28px;
        padding-right: 20px;
    }
  }

  @media screen and (max-width: 510px) {
    .l2{
        font-size: 42px;
    }
    
    .l1{
        font-size: 18px;
        padding-right: 10px;
    }
  }

  @media screen and (max-width: 410px) {
    .l2{
        font-size: 38px;
    }
    
    .l1{
        font-size: 14px;
        padding-right: 10px;
    }
  }


.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* end header layout */

 /* start menu layout */

 menu{
     width: fit-content;
     margin-right: auto;
     margin-left: auto;
 }
 ul {
    position: relative;
    top: 138px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .small-menu {
    top: -12px;
  }
  
  @media screen and (max-width: 510px) {
    .small-menu {
        top: 38px;
      }
      
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFF7DF;
    text-align: center;
    padding: 8px 20px;
    margin-left: 20px;
    text-decoration: none;
    background-color: #588C73;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  }
  
  li a:hover:not(.active) {
    background-color: rgb(62, 117, 91);
  }
  
  li a.active {
    color: white;
    background-color: #998675;
  }

  @media screen and (max-width: 460px) {
    li a {
        padding: 8px 15px;
        margin-left: 2px;
      }
  }

  @media screen and (max-width: 360px) {
    li a {
        padding: 8px 10px;
        margin-left: 2px;
      }
  }

  @media screen and (max-width: 320px) {
    li a {
        padding: 8px 4px;
        margin-left: 1px;
      }
  }

  /* start introduction */

  .intorduction{
      width: 100%;
      background-color: #998675;
      background-image: url('/attributes/img/introduction-background.png');
      background-position: right;
      background-repeat: no-repeat;
      font-family: 'krijt2';
      display: flex;
      justify-content: center;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  }

  @media screen and (max-width: 1000px) {
    .intorduction{
        background-image: unset;
    }
  }

  .intorduction h2{
      color: #fff;
      font-size: 40px;
      text-align: justify;
  }

  .intorduction .lead{
    font-family: 'krijt2';
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

  .intorduction .som{
    font-family: 'krijt2';
    color: #fff;
    font-size: 20px;
    text-indent: 50px;
}

.normal{
    font-family: 'krijt2';
    color: #fff;
    font-size: 20px;
    margin-top: 20px; 
}
  .text{
      padding: 71px;
      max-width: 900px;
  }

  @media screen and (max-width: 800px) {
    .text{
        padding: 20px;
        max-width: 900px;
    }

}
/* start mogelijkheden layout */

.mogelijkheden{
    width: 100%;
    background-color: #998675;
    background-position: right;
    background-repeat: no-repeat;
    font-family: 'krijt2';
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.mogelijkheden h2{
    color: #fff;
    font-size: 40px;
    text-align: justify;
}

.mogelijkheden-tilte{
    width: 80%;
    max-width: 1105px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 40px 0px;
}

.options{
    width: 80%;
    max-width: 1105px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #716358;
    margin-left: auto;
    margin-right: auto;
}

.option{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #FEF7DF;
    border-image: url('/attributes/img/borders/chalk-border-1_1.png') 20 stretch;
}

@media screen and (max-width: 800px) {
    .options{
        position: relative;
        width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #716358;
        margin-left: auto;
        margin-right: auto;
    }
    
    .option{
        display: flex;
        flex-direction: row;
        border-bottom: 4px solid #FEF7DF;
        border-image: url('/attributes/img/borders/chalk-border-1_1.png') 20 stretch;
        margin-left: auto;
        margin-right: auto;
    }
}

.option-right{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.option-right h3{
    color: #fff; 
    font-size: 25px;
    border-bottom: 2px solid #FEF7DF;
    border-image: url('/attributes/img/borders/chalk-border-1_1.png') 40;
}

.option-left{
    padding-right: 10px;
}

.option-left img{
    position: relative;
    bottom: 0px;
}

.margin-button{
    margin-top: 5px;
}

.main-button{
    outline:0;
    color: #fff; 
    font-family: 'krijt2';
    background-color: #588C73;
    font-size: 15px;
    padding: 5px 5px;
    text-decoration: none;
    border: 2px solid #FEF7DF;
    border-image: url('/attributes/img/borders/chalk-border-1_1.png') 40;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.main-button:hover{
    background-color: rgb(62, 117, 91);
}

.second-button{
    outline:0;
    color: #fff; 
    font-family: 'krijt2';
    background-color: #588C73;
    font-size: 15px;
    padding: 5px 5px;
    text-decoration: none;
    border: 2px solid #FEF7DF;
    border-image: url('/attributes/img/borders/chalk-border-1_1.png') 40;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.second-button:hover{
    background-color: rgb(62, 117, 91);
}


.last-option{
    margin-bottom: 50px;
}

/* start more information layout */
.information{
    width: 100%;
    background-color: #998675;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

.information-conainer{
    width: 100%;
    max-width: 1300px;
    background-position: right;
    background-repeat: no-repeat;
    font-family: 'krijt2';
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    justify-content: space-around;
}

.information-box{
    max-width: 1105px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #C7B299;
    margin-bottom: 10px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.form-box{
    max-width: 1105px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #C7B299;
    margin-bottom: 10px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.informatie-blok-container{
    display: none;
    height: fit-content;
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
}

.activebox{
    height: 0px;
    display: unset!important;
}

.information-box-title{
    max-width: 1105px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #716358;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
}

.information-menu{
    width: 25%;
}

.information-content{
    width: 70%;
}
.menu-box{
    max-width: 1105px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #716358;
    margin: 10px 0px;
}

.information-title{
    font-size: 20px;
}

.information-lead{
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-family: 'krijt2';
    background-color: #716358;
}

.information-prijs{
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'krijt2';
    width: fit-content;
    background-color: #716358;
    margin-top: 5px;
}
.information-som{
    padding: 4px;
    color: black;
    font-size: 17px;
}

.information-text{
    padding: 10px;
    color: black;
    font-size: 17px;
}

.active-button{
    background-color: #998675;
}

.prijs-tabel{
    display: flex;
    max-width: 800px;
}

.information-naam{
    min-width: 220px;
    width: fit-content;
    padding: 4px;
    margin: 2px;
    background-color: rgb(165, 148, 128)
}

.information-prijs-tabel{
    min-width: 30px;
    background-color: #716358;
    padding: 4px;
    margin: 2px;
    color: #fff;
}

.exw{
    width: fit-content;
}
/* end more information layout */

/* end inroduction */

footer{
    background-color: #736357;
    width: 100%;
}

.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerblok{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'krijt2';
    color: #fff;
    font-size: 15px;
}

.title{
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 4px solid #FEF7DF;
    border-image: url(/attributes/img/borders/chalk-border-1_1.png) 10 stretch;
}

.krijtjes{
    position: relative;
    top: -80px;
    width: 200px;
    background: url('/attributes/img/krijtjes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .footercontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footerblok{
        padding: 20px 0px 20px 20px;
    }
}

.errors{
    color: red;
    padding: 10px;
}